#Title {
    text-align: center;
}

#Introduce {
    color: red;
}

#introduction-left {
    float: left;
}

#introduction-right {
    float: left;
    margin-left: 10px;
}

#main {
    clear: both;
}

#Lazy_Linux_link {
    color: blue;
}

#github {
    margin-left: 50px;
}

#e-mail {
    margin-left: 50px;
}