@import url("https://fontsapi.zeoseven.com/69/main/result.css");

body {
    font-family: "Noto Sans CJK", serif;
    font-weight: normal;
    /* font-feature-settings: "hwid"; 启用等宽变化字形 */
    background: #E7E7E7;
}

a {
    text-decoration-line: none;
    display: block;
}

.Mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Head {
    display: flex;
    gap: 5%;
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #A19E9E 0%, #FFFFFF 50%, #B9B9B9 75%, #898888 100%);
}

#GITHUB_NAME {
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    background: linear-gradient(to bottom, #1E1E1E 0%, #D3D3D3 50%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 0;
    margin: 0 25% 0 35%;
}

.Body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 100%;
}

.View {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(114, 114, 114, 0.22) 0%, rgba(255, 255, 255, 0.1768) 50%, rgba(21, 21, 21, 0.13) 50%);
}

.Image {
    display: flex;
    position: absolute;
    left: 40%;
    bottom: 10px;
    height: 175px;
    width: 175px;
}

.ViewWord {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 100%;
    height: auto;

}

#GITHUB_IMAGE {
    position: absolute;
    top: 0;
    left: 0;
    width: 175px;
    height: 175px;
}

#VIEW_WORD_1 {
    position: absolute;
    font-size: 25px;
    font-weight: bolder;
    font-style: normal;
    left: 10px;
    top: 10px;
}

#VIEW_WORD_2 {
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    font-style: normal;
    left: 19px;
    top: 20px;
    background: rgba(80, 80, 80, 0.13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Content {
    display: flex;
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    background: #1E1E1E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 33%;
    top: 25%;
}

b {
    font-size: 30px;
}

.Footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #B6B6B6 0%, #E2E2E2 50%, #A7A7A7 100%);
    top: 88%;
    bottom: 10%;
}

.Left {
    display: flex;
    position: absolute;
    width: 400px;
    height: 100px;
    top: 0;
}

.FooterWord {
    font-style: normal;
    font-weight: bold;
}

.MoreInfo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 8px;
    background: #1E1E1E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#FOOTER_WORD_1 {
    position: absolute;
    font-size: 25px;
    background: rgba(103, 103, 103, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 5px;
    left: 10px;
}

#FOOTER_WORD_2 {
    position: absolute;
    font-size: 50px;
    background: rgba(103, 103, 103, 0.26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 7px;
    left: 15px;
}

.Medium {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 350px;
    right: 0;
    width: 5px;
    height: 100px;
    background: rgba(103, 103, 103, 0.35);
}

.Right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 355px;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(109, 109, 109, 0.21);
}

.Menu {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    background: #1E1E1E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FixedNavigator {
    margin: 0 0 0 0;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, #A8A8A8 0%, #E8E8E8 50%, #9E9E9E 100%);
}

#FOOT_MENU_BACKGROUND_1 {
    background: rgba(103, 103, 103, 0.6);
    width: 100%;
    height: 100%;
}

#FOOT_MENU_BACKGROUND_2 {
    background: rgba(103, 103, 103, 0.01);
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
}

#FOOT_MENU_BACKGROUND_3 {
    background: rgba(103, 103, 103, 0.01);
    width: 100%;
    height: 100%;
    transition: background-color 0.2s
}

.FootMenu {
    display: flex;
    position: fixed;
    gap: 24%;
    flex-direction: row;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    background: linear-gradient(to bottom, #707070 0%, #D9D9D9 70%, #1E1E1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    height: auto;
    bottom: 1%;
    margin: 0 15% 0 15%;
}


.Introduction {
    background: linear-gradient(to bottom, #1E1E1E 0%, #B6B6B6 50%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Introduction:hover {
    background: linear-gradient(to bottom, #E7E7E7 0%, #898888 50%, #E2E2E2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Projects:hover {
    background: linear-gradient(to bottom, #E7E7E7 0%, #898888 50%, #E2E2E2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    #FOOT_MENU_BACKGROUND_2 {
        background: rgba(103, 103, 103, 0.5);
    }
}

.Link:hover {
    background: linear-gradient(to bottom, #E7E7E7 0%, #898888 50%, #E2E2E2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    #FOOT_MENU_BACKGROUND_3 {
        background: rgba(103, 103, 103, 0.5);
    }
}