@import url("https://fontsapi.zeoseven.com/69/main/result.css");

body {
    font-family: "Noto Sans CJK", serif;
    font-weight: normal;
    /* font-feature-settings: "hwid"; 启用等宽变化字形 */
    background: rgb(252, 254, 253);
}

a {
    text-decoration-line: none;
    display: block;
}

.Mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Head {
    display: flex;
    position: absolute;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    background: #AAD0F1;
}

#GITHUB_NAME {
    font-style: normal;
    font-weight: bolder;
    background: #4280D9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 0;
    margin: 0 25% 0 35%;
}

.Body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
}

.View {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 200px;
    background: #E4F5FA;
}

.Image {
    display: flex;
    position: absolute;
    left: 32%;
    bottom: 10px;
    height: 175px;
    width: 175px;
}

.ViewWord {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 100%;
    height: auto;

}

#GITHUB_IMAGE {
    position: absolute;
    top: 0;
    left: 0;
    width: 175px;
    height: 175px;
}

#VIEW_WORD_1 {
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    left: 10px;
    top: 10px;
    background: #4286D9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#VIEW_WORD_2 {
    position: absolute;
    font-size: 44px;
    font-weight: bolder;
    font-style: normal;
    left: 19px;
    top: 20px;
    background: rgba(252, 254, 253, 0.4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Content {
    display: flex;
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    background: rgb(66, 134, 217);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 10%;
    top: 225px;
}

b {
    font-size: 30px;
}

.Footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 150px;
    background: rgb(228, 245, 250);
    top: 200%;
    bottom: 0;
}

.Left {
    display: flex;
    position: absolute;
    width: 400px;
    height: 100px;
    top: 0;
}

.FooterWord {
    font-style: normal;
    font-weight: bold;
}

.MoreInfo {
    height: 100px;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 5px;
    font-size: 14px;
    background: rgb(9, 22, 196);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#FOOTER_WORD_1 {
    position: absolute;
    font-size:40px;
    background: rgb(9, 22, 196);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 5px;
    left: 10px;
}

#FOOTER_WORD_2 {
    position: absolute;
    font-size: 80px;
    background: rgb(66, 134, 217, 0.26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 7px;
    left: 15px;
}

.Medium {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 350px;
    right: 0;
    width: 5px;
    height: 100%;
    background: rgb(66, 134, 217, 0.36);
}

.Right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 355px;
    width: 100%;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(66, 134, 217, 0.36);
}

.Menu {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    background: rgb(9, 22, 196);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.2s;
}

.Menu:hover {
    background: rgb(228, 245, 250);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FixedNavigator {
    margin: 0 0 0 0;
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0;
    background: #AAD0F1;
}

#FOOT_MENU_BACKGROUND_1 {
    background: rgb(228, 245, 250);
    width: 100%;
    height: 100%;
}

#FOOT_MENU_BACKGROUND_2 {
    background: rgb(228, 245, 250);
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
}

#FOOT_MENU_BACKGROUND_3 {
    background: rgb(228, 245, 250);
    width: 100%;
    height: 100%;
    transition: background-color 0.2s
}

.FootMenu {
    display: flex;
    position: fixed;
    gap: 100px;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    background: #4280D9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    height: auto;
    bottom: 1%;
    margin: 0 20% 0 15%;
}


.Introduction {
    background: #0016C4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Introduction:hover {
    background: #0016C4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Projects:hover {
    background: #0016C4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    #FOOT_MENU_BACKGROUND_2 {
        background: rgb(66, 134, 217);
    }
}

.Link:hover {
    background: #0016C4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    #FOOT_MENU_BACKGROUND_3 {
        background: rgb(66, 134, 217);
    }
}

@media (orientation: portrait) {
    .viewWord {
        left: 3px;
    }

    #VIEW_WORD_1 {
        font-size: 20px;
        left: 1px;
    }

    #VIEW_WORD_2 {
        font-size: 24px;
    }

    .Content {
        left: 10px;
    }

    .Footer {
        top: 165%;
    }

    #FOOTER_WORD_1 {
        font-size: 20px;
    }

    #FOOTER_WORD_2 {
        font-size: 24px;
    }

    .MoreInfo {
        font-size: 10px;
    }

    .Left {
        width: 200px;
    }

    .Medium {
        left: 200px;
    }

    .Right {
        left: 205px;
    }

    .FixedNavigator {
        height: 50px;
    }

    .FootMenu {
        font-size: 20px;
        margin: 0 20px 0 20px;
        gap: 12%;
    }
}