@import url("https://fontsapi.zeoseven.com/69/main/result.css");

body {
    font-family: "Noto Sans CJK", serif;
    font-weight: normal;
    /* font-feature-settings: "hwid"; 启用等宽变化字形 */
    background: #E7E7E7;
}

.Introduce {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Head {
    display: flex;
    gap: 5%;
    position: absolute;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #A19E9E 0%, #FFFFFF 50%, #B9B9B9 75%, #898888 100%);
}

#githubName {
    font-style: normal;
    font-weight: bolder;
    font-size: 100%;
    background: linear-gradient(to bottom, #1E1E1E 0%, #D3D3D3 50%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin-left: 0.5%;
    top: 15%;
}

.headMenu {
    display: flex;
    gap: 35%;
    flex-direction: row;
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
    background: linear-gradient(to bottom, #1E1E1E 0%, #D3D3D3 50%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    width: 75%;
    height: 100%;
    top: 10%;
    left: 15%;
}

.Body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(114, 114, 114, 0.22) 0%, rgba(255, 255, 255, 0.1768) 50%, rgba(21, 21, 21, 0.13) 50%);
}

.image {
    display: flex;
    position: absolute;
    left: 1%;
    top: 20%;
    width: 75%;
    height: 75%;
}

.viewWord {
    display: flex;
    flex-direction: row;
}

#viewWord-1 {
    position: absolute;
    font-size: 100%;
    font-weight: bolder;
    font-style: normal;
    left: 14%;
    top: 18%;
}

#viewWord-2 {
    position: absolute;
    font-size: 100%;
    font-weight: bolder;
    font-style: normal;
    left: 16%;
    top: 20%;
    margin: auto;
    background: rgba(80, 80, 80, 0.13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Content {
    display: flex;
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    left: 5%;
    top: 40%;
}

.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    margin-left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, #B6B6B6 0%, #E2E2E2 50%, #A7A7A7 100%);
    top: 100%;
}

.left {
    display: flex;
}

.footerWords {
    display: flex;
}

.medium {
    display: flex;
}

.right {
    display: flex;
}

.Menu {
    display: flex;
}

